@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,700;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  color: #ffff !important;
}

body {
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .menu-personal-configs {
  background-color: #1f1f1f;
  padding: 0px 10px;
  -webkit-box-shadow: 0px;
          box-shadow: 0px;
}

body .menu-personal-configs a {
  color: black;
}

body .menu-personal-configs .logo-bold {
  font-weight: 700;
}

body .menu-personal-configs .search {
  border: none;
  background-color: #121212;
  border-radius: 25px;
  padding-left: 9px;
  height: 35px;
}

body .menu-personal-configs .search:focus {
  border: 2px solid #808080 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body #mobile-demo {
  background-color: #1f1f1f !important;
}

body .dropdown-arrow {
  width: 200px;
  height: 150px;
  background-color: #1f1f1f;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 65px;
  display: none;
  opacity: 0;
  z-index: 22222;
}

body .dropdown-arrow .box {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .dropdown-arrow .box:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .dropdown-arrow .box button {
  margin: 1px;
}

body .on {
  display: block;
  opacity: 1;
}

body .side-products {
  background-color: #1f1f1f;
  width: 20em;
  height: 92vh;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: none;
  position: absolute;
  -webkit-transition: all .3s;
  transition: all .3s;
  top: 65px;
  z-index: 22222;
  overflow: scroll;
}

body .side-products .action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  margin-top: 195%;
}

body .side-products .action-buttons button {
  margin: 3px;
}

body .view {
  display: block;
}

@media (max-width: 992px) {
  body .view, body .on {
    display: none;
  }
}

body .products {
  width: 100%;
  height: 93vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .products .card {
  width: 17em;
  height: 40vh;
  background-color: #1f1f1f;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body .products .card:hover .buy {
  display: block;
}

body .products .card:hover {
  height: 50vh;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body .products .card img {
  width: 17.05em;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 1;
}

body .products .card .product-name {
  font-size: 1.5em;
  position: relative;
  margin: auto;
}

body .products .card .white-bg-price {
  margin: auto;
  background-color: #ffff;
  border-radius: 15px;
}

body .products .card .white-bg-price .price {
  font-size: 1.2em;
  color: black !important;
  text-align: center;
  padding: 10px;
}

body .products .card .buy {
  display: none;
  position: absolute;
  bottom: 30px;
}

body .products .card .buy .botton-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .sidenav .mobile-search-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .sidenav .mobile-search-container .search {
  border: none;
  background-color: #121212;
  border-radius: 25px;
  padding-left: 2px;
  height: 30px;
  width: 65%;
  padding-left: 10%;
  padding-right: 10%;
}

body .sidenav .mobile-search-container .search:focus {
  border: 2px solid #808080 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 1024px) {
  #card {
    height: 50vh;
  }
  #card:hover {
    height: 65vh;
  }
}
/*# sourceMappingURL=style.css.map */